#!/bin/bash
# Plist checksum: {{ include "Library/LaunchAgents/local.brew-upgrade.plist.tmpl" | sha256sum }}

if [[ "$(uname)" != "Darwin" ]]; then
  exit 0
fi

PLIST="$HOME/Library/LaunchAgents/local.brew-upgrade.plist"

launchctl unload "$PLIST" 2>/dev/null || true
launchctl load "$PLIST"
echo "brew-upgrade LaunchAgent loaded."
